/* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: #fff;
}

.header__logo {
  height: 50px;
}

.navigation__list {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navigation__link {
  text-decoration: none;
  color: #333;
  transition: color 0.3s;
}

.navigation__link:hover {
  color: #d65a31;
}

.donate-button {
  background-color: #d65a31;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.donate-button:hover {
  background-color: #fff;
  color: #d65a31;
  border: 1px solid #d65a31;
}

/* Main Content */
.content {
  display: flex;
  padding: 20px;
  gap: 20px;
}

.main {
  flex: 3;
}

.alert {
  background-color: #f5f5f5;
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  color: #d65a31;
}

.hero {
  background: url('../images/header-bike.jpg') no-repeat center;
  background-size: cover;
  padding: 120px 40px;
  color: #f9f9f9;
  margin-bottom: 20px;}

.hero h1 {
  margin-bottom: 10px;
}

.hero p {
  margin-bottom: 20px;
}

.button {
  padding: 10px 15px;
  border: none;
  margin-right: 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.primary-button {
  background-color: #d65a31;
  color: #fff;
}

.primary-button:hover {
  background-color: #fff;
  color: #d65a31;
  border: 1px solid #d65a31;
}

.secondary-button {
  background-color: #fff;
  color: #d65a31;
  border: 1px solid #d65a31;
}

.secondary-button:hover {
  background-color: #d65a31;
  color: #fff;
}

/* Learn More Section */
.heading-underline {
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #d65a31;
} 


.article {border: 1px solid #333; 
  padding: 12px;
  border-radius: 8px;
  margin-bottom: 20px;
}
.article img {
  width: 60px ;
}
.article a {color:#d65a31 ;}

.horizonallayoutforarticles{
display: flex;
}
.horizonallayoutforarticles .article {margin: 20px;}

.article__title {
  font-size: 1.2rem;
  color: #333;
}

.article__summary {
  font-size: 0.9rem;
  color: #666;
}

.article__read-more a {
  color: #d65a31;
  text-decoration: none;
}

.article__read-more a:hover {
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  flex: 1;
  padding: 10px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.article__thumbnail {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

.facebook-link {
  display: inline-block;
  color: #4267b2;
  text-decoration: none;
  margin-top: 10px;
}

.facebook-link:hover {
  text-decoration: underline;
}

/* Footer */
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
}
